<p>quotecomponent works!</p>
<!-- 
 <div class="col-md-3" *ngFor="let quote of allQuotes"> 
  <div class="div"> 
  <p>
    <span class="quotes">''</span>
   {{ quote.quote}}
    <span class="quotes">''</span>
  </p>
</div>
<div class="div">
<p>
  By <span> {{quote.author}} </span>
</p>
<p>
  Posted <span>  timepassed </span> By <span> {{quote.publisher}} </span>
</p> 

<div *ngIf="showDetails" class="details">

  <button class="btn btnLess" (click)="deleteQuote()">Delete</button>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing. </p>
  <p>
    By <span> {{quote.author}} </span>
  </p>
  <p>
    Posted <span>  timepassed </span> By <span> {{quote.publisher}} </span>
  </p>  -->
 <!-- </div>

<div> -->


<!-- 
<button (click)="addUpvotes()">
  upvote
</button>
<button (click)="addDownVotes()">
  downvote
</button>  -->

 <button class="btn btnCta" (click)="toggleDetails()"> {{buttonMsg}} </button> 

<!-- </div> 
</div>

</div>  -->


<!-- <div *ngIf="showDetails" class="details"> -->

   <button class="btn btnLess" (click)="deleteQuote(true)"> Delete </button> 
 <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing. </p>
   <p>
    By <span> {{quote.author}} </span>
  </p>
  <p>
    Posted <span>  timepassed </span> By <span> {{quote.publisher}} </span>
  </p>  --> 
 



