<div class="details d-flex flex-column">
  <div>

  <h4>
    {{quotes.author}}
  </h4>

  <p>
    Posted  daysPassed By  {{quotes.publisher}}  
  </p>
</div>
<div>
  
  <button (click)="addUpvotes(quotes.upvotes)" class="float-start btn">
    <i class="fa fa-thumbs-up"></i> <span> {{quotes.upvotes}} </span>
  </button>
  <button (click)="addDownvotes()" class="float-end btn ">
    <i class="fa fa-thumbs-down"></i> <span> {{quotes.downvotes}} </span>
  </button> 
</div>

<div class="del">
  <button class="btn" (click)="deleteQuote(true)"> <i class="fa fa-trash" aria-hidden="true"></i></button> 

</div>
 

</div>





  

