<div class="details d-flex flex-column">
  <div>

  <h4>
    {{quotes.author}}
  </h4>

  <p>
    Posted  {{quotes.dateAdded|datecount}} day/days ago  <br> By
     <span class="publisher"> {{quotes.publisher}} </span>  
  </p>
</div>
<div>
  
<div class="float-start">
  <button (click)="addUpvotes(quotes.upvotes)" class="float-start btn">
    <i class="fa fa-thumbs-up"></i> <span> {{quotes.upvotes}} </span>
  </button>
  <button (click)="addDownvotes()" class="float-end btn ">
    <i class="fa fa-thumbs-down"></i> <span> {{quotes.downvotes}} </span>
  </button> 
</div>

  <div class="del float-end">
    <button class="btn" (click)="deleteQuote(true)"> <i class="fa fa-trash text-danger" aria-hidden="true"></i></button> 
  
  </div>
</div>


 

</div>





  

