<div class="container"> 
  <div class="row m-auto" >
    <div appHighlighter class="col-sm-12 col-md-6 quote p-5" *ngFor="let quote of allQuotes; let i = index">
        <p>
          {{quote.quote}}
        </p>
        <button class="btn" (click)="toggleDetails(i)"> VV </button> 
        <app-quotedetails *ngIf="quote.showDetails" (toDelete)='deleteQuoteNow($event,i)' [quotes]='quote' >  </app-quotedetails>
    </div>

    <div class="col-sm-12 m-auto">
      <app-form (postingQuote) = 'pushIntoQuotesArr($event)'></app-form>
    </div>
   
  </div>
</div>

   

   
  




  <!-- <app-quotecomponent></app-quotecomponent> -->
  
 
  <!-- <app-quotecomponent></app-quotecomponent> -->
 

