<div class="container text-center"> 
  <button  (click)="displayForm()">{{btnMessage}}</button>
  <div *ngIf="showForm" class="col-sm-12 m-auto form">
    <app-form (postingQuote) = 'pushIntoQuotesArr($event)'></app-form>
  </div>
  <h2 class="mt-5">{{title}}</h2>
  <div class="row m-auto">
    <div   class="col-sm-12 col-md-5 m-2 quote p-5" *ngFor="let quote of allQuotes; let i = index;">
      <div *ngIf='popularQuote; then higlighted else noHighlight'>

      </div>
      <ng-template #noHighlight >
        <p >
          {{quote.quote}}
        </p>
        <button class=" btn" (click)="toggleDetails(i)"> ▼ </button> 
        <app-quotedetails *ngIf="quote.showDetails" (toDelete)='deleteQuoteNow($event,i)' [quotes]='quote' >  </app-quotedetails>
      </ng-template>
      <ng-template #higlighted>
        <p appHighlighter>
          {{quote.quote}}
        </p>
        <button class=" btn" (click)="toggleDetails(i)"> ▼ </button> 
        <app-quotedetails *ngIf="quote.showDetails" (toDelete)='deleteQuoteNow($event,i)' [quotes]='quote' >  </app-quotedetails>
      </ng-template>
   
    </div>

  
   
  </div>
 
</div>
   

   
  




  <!-- <app-quotecomponent></app-quotecomponent> -->
  
 
  <!-- <app-quotecomponent></app-quotecomponent> -->
 

