<p>quotelist works!</p>


<div> 


  <div *ngFor="let quote of allQuotes; let i = index">
    <p>
      {{quote.quote}}
    </p>

    <button class="btn btnCta" (click)="toggleDetails(i)"> {{buttonMsg}} </button> 
    <app-quotedetails *ngIf="quote.showDetails" (toDelete)='deleteQuoteNow($event,i)' [quotes]='quote' >  </app-quotedetails>
  
  </div>



  <app-quotecomponent></app-quotecomponent>
  <app-form (postingQuote) = 'pushIntoQuotesArr($event)'></app-form>
 
  <!-- <app-quotecomponent></app-quotecomponent> -->
 
</div>
