
<form action="">
   <h4> Add A Quote </h4>
   <div class="alert  alert-danger form-control py-1 {{alertErrorShow}}" role="alert"> All fields are required </div>
  <div class="form-group">
    <label for="quote">Add Quote</label>
    <textarea name="quote" id="quote" rows="10" class="form-control" [(ngModel)]="postedQuote.quote">

    </textarea>
  </div>
  <div class="form-group">
     
    <label for="author">Add Author</label>
    <input type="text" name="author" id="" class="form-control" [(ngModel)]="postedQuote.author">
  </div>
  <div class="form-group">
    <label for="publisher">Your Name</label>
    <input type="text" name="publisher" id="publisher" class="form-control" [(ngModel)]="postedQuote.publisher">
  </div>


  <div class="div mt-2">
  <button type="submit" class="btn btnCta float-start px-3" (click)="postQuote()">Post</button>
  <button class="btn btnLess float-end px-3" (click)="clearForm()"> Clear</button>
  </div>
 
</form>



